@media (max-width: 88rem) {
  .container {
    padding: 2.5rem 1rem 0 1rem;

    .center {
      h1 {
        margin: 1.5rem 0 0.5rem 0;
        font-size: 3.5rem;
        line-height: 4rem;
      }

      p {
        font-size: 1.7rem;
        line-height: 1.9rem;
      }
    }

    .list-item {
      p {
        line-height: 1rem;
        font-size: 0.9rem;
      }
    }

    .bottom {
      .men-img {
        height: 34rem;
      }

      .car-img {
        margin: 0 0 0 -9rem;
        height: 28rem;

        & img {
          margin: -13rem 0 0 -3rem;
        }
      }

      .call {
        right: 6rem;
      }
    }
  }
}

@media (max-width: 78.5rem) {
  .container {
   // margin: 1.5rem 1rem 0 1rem;
    padding: 1.5rem 1rem 0 1rem;
    .top {
      .tagline {
        max-width: 4rem;
        font-size: 1.3rem;
        line-height: 1rem;
      }
      .menu {
        margin: 0;
      }
      .link {
        margin: 0;
        font-size: 1.1rem;
        line-height: 1rem;
      }
      .menu-list-item {
        padding: 0 1.2rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .center {
      margin-top: 3.7rem;
      h1 {
        margin: 0.5rem 0 0.9rem 0;
        font-size: 2.5rem;
        line-height: 2rem;
      }
      p {
        font-size: 1rem;
        line-height: 1rem;
      }
      .buttons {
      }
      .main-btn {
        margin-top: 2.7rem;
        width: 15rem;
        height: 2.7rem;
        font-size: 1.1rem;
      }
      .fake-btn {
        margin-top: 3.7rem;
        left: 0.8rem;
        width: 15rem;
        height: 2.7rem;
      }
    }

    .list {
      padding: 2rem 0;
    }
    .list-item {
      p {
        line-height: .7rem;
        font-size: 0.6rem;
      }
    }

    .bottom {
      .men-img {
        height: 28rem;
      }

      .car-img {
        & img {
          margin: -8rem 0 0 0rem;
        }
      }

      .call {
        right: 3rem;
        top: 36%;
        width: 6.3rem;
        height: 6.3rem;
      }

      .btn-call {
        margin: 0.8rem auto;
        top: 0;
        width: 4.55rem;
        height: 4.55rem;
      }

      .img-call {
        width: 55%;
      }
    }
  }
}

@media (max-width: 70.8rem) {
  .container {
    .top {
      .menu {
        margin: 0;
      }
    }

    .bottom {

      .car-img {
        margin: 0 0 0 -9rem;
        height: 27rem;
      }

      .call {
        right: 0;
        top: 50%;
      }
    }
  }

}

@media (max-width: 65rem) {
  .container {
    .tagline {
      max-width: 4rem;
      font-size: 1rem;
      line-height: 1rem;
    }

    .menu-list-item {
      padding: 0.2rem 1.2rem;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }

    .link {
      min-width: 5rem;
      max-height: 1.3rem;
      margin-right: 2rem;
      font-size: 0.8rem;
      line-height: 1rem;
    }

    .center {
      margin-top: 3.7rem;

      h1 {
        margin: 0.5rem 0 0.9rem 0;
        font-size: 2.5rem;
        line-height: 2rem;
      }

      p {
        font-size: 1.3rem;
        line-height: 1rem;
      }

      .buttons {
      }

      .main-btn {
        margin-top: 2.7rem;
        width: 11rem;
        height: 2.1rem;
        font-size: 0.9rem;
      }

      .fake-btn {
        margin-top: 3.7rem;
        left: 0.8rem;
        width: 11rem;
        height: 2.1rem;
      }
    }

    .list {
      padding: 1rem 0;
    }
  }
}

@media (max-width: 60rem) {
  .container {
    .bottom {
      margin-top: 1.2rem;

      .bottom-list {
        max-width: 23rem;
        flex-wrap: wrap;
        padding: 4rem 0;
      }

      .list-item {
        padding: 0.2rem 0.2rem;
      }

      .call {
        margin: 0;
        right: 6rem;
      }
    }
  }


  @media (max-width: 57.5rem) {
    .container {
      .top {
        .tagline {
          font-size: 1.4rem;
        }

        .menu-list-item {
          font-size: 1rem;
        }

        .link {
          font-size: 1.2rem;
        }
      }

      .bottom {
        .bottom-list {
          max-width: 19rem;
        }
      }
    }
  }

  @media (max-width: 50rem) {
    .container {
      .bottom {
        .call {
          margin: 0 -4.1rem 0 0;
        }
      }
    }
  }
}

@media (max-width: 47.5rem) {
  .container {
    .top {
      .menu-list-item {
        padding: 0 0.8rem 0.13rem 0.8rem;
      }
    }

    .bottom {
      .bottom-list {
        max-width: 16rem;
        justify-content: end;
        margin-bottom: 0.4rem;
      }
    }
  }
}

@media (max-width: 44rem) {
  .container {
    .top {
      .menu {
        .menu-list {
          padding: 0 0.8rem;
        }
      }
    }

    .bottom {
      .call {
        top: 30%;
        margin: 0 -5.1rem 0 0;
      }
    }
  }
}

@media (max-width: 40rem) {
  .container {
    padding: 1rem 0 0 0.5rem;

    .top {
      & .menu-list {
        display: none;
      }
      .link {
        display: none;
      }
      .menu-burger {
        display: block;

        & span {
          width: 1.7rem;
          height: 0.2em;
        }
      }
    }

    .bottom {
      .men-img {
        width: 100%;
      }
      .car-img {
        display: none;
      }
      .call {
        display: none;
      }
    }
  }
}

@media (max-width: 31.5rem) {
  .container {
    .center {
      margin-top: 3.7rem;
    }
  }
}

@media (max-width: 28rem) {
  .container {
    .top {
      .tagline {
        font-size: 1.5rem;
      }
      .menu-list {
        display: none;
        padding: 0;
      }
      .link {
        display: none;
      }
      .menu-list__burger {
        margin: 0;
      }
    }

    .center {
      margin: 4.2rem 0 0 0;
      text-align: center;
      .buttons {
        .main-btn {
          bottom: -24.95rem;
          width: 100%;
          height: 3.75rem;
          padding: 0;
          font-size: 1.25rem;
        }
      }
      .fake-btn {
        display: none;
      }
    }

    .bottom {
      max-height: 20.5rem;
      .bottom-list {
        display: none;
      }
      .call {
        display: none;
      }
      .car-img {
        display: none;
      }
      .men-img {
        height: 20rem;
        width: 85%;
        margin-left: 19%;
      }
    }
  }

  main {
    margin: 3.75rem 0 0 0;
  }
}

