header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: $color_yellow;
}

.container {
  width: 100%;
  height: auto;
  margin: 2.5rem 12rem 0 19.2rem;
  max-width: 98rem;
  padding: 0 1rem;

  .top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 2rem;

    .tagline {
      span {
        &:hover {
          border-bottom: 0.12px solid steelblue;
        }
      }
    }

    .menu {
      margin-left: 13rem;
      height: 100%;
    }

    .menu-list {
      display: flex;
      justify-content: space-between;
      margin: 0.4rem 0;
      & a{
        text-decoration: none;
        color: inherit;
      }
    }

    .menu-list__burger{
      display: block !important;
      margin: 0;
    }

    .menu-list-item {
      list-style-type: none;
      padding: 0 1.2rem 0.13rem 1.2rem;
      font-size: 1.2rem;
      font-weight: 400;
      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        border-bottom: 0.12px solid steelblue;
      }
    }

    .link {
      min-width: 11rem;
      max-height: 2.8rem;
      margin-right: 4rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
    }

    .link-phone {
      text-decoration: underline;
      color: $color_black;
    }

    .menu-burger {
      display: none;
      transition: all 0.3s;

      & span {
        display: block;
        margin-bottom: 0.55rem;
        width: 2.75rem;
        height: 0.19rem;
        background-color: $color_black;
        transition: all 0.3s;
      }
    }

    .menu-burger_close {

      margin: 0.4rem 0 0 0;

      & span:nth-of-type(1){
        display: none;
      }
      & span:nth-of-type(2){
        transform: rotate(60deg);
        margin: -2px;
      }
      & span:nth-of-type(3){
        transform: rotate(-60deg);
        margin: -2px;
      }
    }
  }

  .center {
    margin: 3rem 0 1rem 0;

    h1 {
      margin: 0 0 0.5rem 0;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 5.3rem;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.2rem;
    }

    .buttons {
      display: flex;
      position: relative;
      width: 100%;
    }

    .main-btn {
      position: absolute;
      margin-top: 2.7rem;
      width: 18.2rem;
      height: 3.7rem;
      background: $color_red;
      color: $color_white;
      font-size: 1.5rem;
      font-weight: 600;
      border: none;
      opacity: .99;
      z-index: 5;
      transition: all 0.5s;

      &:hover{
        opacity:1;
        background: #FF772B;
      }
    }

    .fake-btn {
      position: absolute;
      margin-top: 3.7rem;
      left: 0.8rem;
      width: 18.2rem;
      height: 3.7rem;
      background: transparent;
      border: 2px solid $color_white;
      box-sizing: border-box;
      z-index: 1;
    }
  }

  .bottom {
    display: flex;
    position: relative;
    margin-top: 1.8rem;
    max-height: 19rem;

    .bottom-list {
      display: flex;
      justify-content: left;
      padding: 4rem 0;
    }

    .list-item {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0 1rem 0 0;

      p {
        margin: 0 auto;
        padding: 0 0.5rem;
        line-height: 1.2rem;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .list-item-img {
      max-width: 2.4rem;
      max-height: 2.5rem;
    }

    .men-img {
      align-self: flex-end;
      height: 35rem;
      width: 24.5rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../WEBDAD Project 1/img/deliveryMen.png");
      z-index: 10;
    }

    .car-img {
      align-self: flex-end;
      margin: 0 0 2rem -6rem;
      height: 29rem;
      width: 30rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/img/backCar.png");
      z-index: 2;
    }

    .call {
      display: flex;
      position: absolute;
      top: 6.8rem;
      right: 15rem;
      width: 8.5rem;
      height: 8.5rem;
      border-radius: 50%;
      background-color: rgba(61, 155, 233, 0.3);
      z-index: 50;

      &:hover{
        background-color: rgba(61, 155, 233, 2);
      }
    }

    .btn-call {
      margin: 18px auto;
      width: 6.25rem;
      height: 6.25rem;
      background-color: rgba(61, 155, 233, 2);
      border-radius: 50%;
      border: none;
    }

    .img-call {
      width: 70%;
      height: auto;
    }
  }
}

@import 'media';