body {
  margin: 0;
  font-family: $ff-main;
  color: $color_black;
  background-color: $color_bg_grey;
  user-select: none;
}

html {
  box-sizing: border-box;
  ul, ol {
    list-style-type: none;
  }
}

h3{
  font-size: 1.8rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.btn-general{
  width: 15.625rem;
  height: 3.125rem;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  background-color: $color_yellow;
}

.tagline{
  width: 100%;
  max-width: 6rem;
  height: auto;
  padding-bottom: 0.12px;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  transition: all 0.5s;
}

.is-hidden{
  display: none !important;
}

.hide-block{
  height: 0;
  opacity: 0;
}
