.main-info__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 0 9rem;
  counter-reset: my-counter;

  .main-info__column {
    width: 33%;
    margin: 0 3.12rem;
    padding: 0 .8rem 0.5rem 0;
    text-align: left;
    counter-increment: my-counter;
  }

  .main-info__column:before {
    content: '0' counter(my-counter);
    position: absolute;
    margin: -0.55rem 0 0 -6.12rem;
    font-weight: 300;
    font-size: 3.12rem;
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.125rem $color_yellow;
  }

  .main-info__title {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .main-info__description {
    width: 80%;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}