main {
  .main_block {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 2.5rem 0 0 0;
    overflow: hidden;

    .main-reviews__tittle {
      display: block;
      margin: 1.25rem 0 0 0;
      font-weight: 600;
      font-size: 1.8rem;
    }

    .main-reviews__btn {
      margin: 3rem 0 4rem 0;
      border: 1px solid $color_black;
      color: $color_black;
      font-weight: 500;
      font-size: 1.25rem;
      transition: all 0.8s;

      &:hover {
        background-color: $color_white;
        font-weight: 700;
      }
    }

    & iframe{
      width: 100%;
      height: 42rem;
    }
  }

  .block_bg_yellow {
    background-color: $color_yellow;
  }

  .main-info__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 0 9rem;
    counter-reset: my-counter;

    .main-info__column {
      width: 33%;
      margin: 0 3.12rem;
      padding: 0 .8rem 0.5rem 0;
      text-align: left;
      counter-increment: my-counter;
    }

    .main-info__column:before {
      content: '0' counter(my-counter);
      position: absolute;
      margin: -0.55rem 0 0 -6.12rem;
      font-weight: 300;
      font-size: 3.12rem;
      text-align: center;
      text-shadow: 0.125rem 0.125rem 0.125rem $color_yellow;
    }

    .main-info__title {
      font-weight: 500;
      font-size: 1.4rem;
    }

    .main-info__description {
      width: 80%;
      font-weight: 400;
      font-size: 1rem;
      margin: 0.5rem 0;
    }
  }

  .main-prices__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem auto 0 auto;
    max-width: 81.5rem;
    max-height: 44.8rem;

    & p {
      font-size: 1rem;
    }

    .main-prices__column {
      max-width: 26.3rem;
      max-height: 36.18rem;
      padding: 4rem 0 0 0;
    }

    .main-price__btn {
      margin: 2rem 0;

      &:hover {
        cursor: pointer;
      }
    }

    .main-price__hide__btn {
      display: none;
      width: 100%;

      .price-hide__btn {
        width: 7rem;
        height: 1.4rem;
        color: $color_black;
        font-size: 1rem;
        background-color: #E5E5E5;
        text-decoration: underline;
        border: none;
      }
    }
  }

  .main-slider__buttons {
    display: flex;
    justify-content: center;

    & input {
      display: none;
    }

    & input:checked + label {
      border: 1px solid $color_yellow;
    }

    & label {
      display: inline-block;
      width: 12.56rem;
      height: 3.125rem;
      padding: 0.7rem 1.2rem;
      margin: 0 0.6rem;
      font-size: 1.2rem;
      background-color: #E5E5E5;
      border: 1px solid #EBEBEB;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  .main-slider__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3rem auto 0 auto;
    max-width: 76.25rem;
    max-height: 43.2rem;

    &:before {
      content: "<";
      margin-top: 11rem;
      margin-left: -65rem;
      position: absolute;
      font-size: 1.8rem;
      cursor: pointer;
    }

    &:after {
      content: ">";
      margin-top: 11rem;
      margin-right: -74rem;
      float: right;
      position: absolute;
      font-size: 1.8rem;
      cursor: pointer;
    }

    .main-slider__column {
      max-width: 26.3rem;
      max-height: 36.18rem;
      text-align: left;

      .main-slider__price {
        padding: 0 3.5rem;
      }

      & p {
        font-size: 1rem;
        padding: 0.5rem 0;
      }

      & p:before {
        content: "\2713";
        margin: -0.3rem -1.4rem;
        position: absolute;

        font-weight: 700;
      }

      .main-slider__img {
        margin-left: -10rem;
        width: 40rem;
        height: 28.3rem;
      }

      .main-slider__btn {
        margin-left: -1.4rem;
      }

      .main-slider__sub__title {
        display: none;
        width: 100%;
        font-size: .9rem;
        font-weight: 400;
      }

      .slider-menu__car {
        display: none;
        width: 40%;
        margin: 2.7rem auto;

        & span {
          width: 0.8rem;
          height: 0.8rem;
          background-color: $color_black;
          border-radius: 50%;
        }

      }

      .main-slider__hide__btn {
        display: none;
        margin: 0 auto;
        width: 18.25rem;
        height: 3.7rem;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: $color_yellow;
      }
    }
  }

  .main-reviews__row {
    display: flex;
    justify-content: center;
    margin: 3rem auto 0 auto;
    background-color: $color_yellow;

    .main-reviews__column {
      position: relative;
      max-width: 26.4rem;
      padding: 0 0.8rem;
      text-align: left;

      & h3 {
        margin: 0;

        & pre {
          display: none;
        }
      }

      .main-reviews__info {
        display: inline-block;
      }

      .main-reviews__text {
        width: 90%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3rem;
        text-align: left;
      }

      & a {
        position: absolute;
        color: $color_black;
        bottom: -0.95rem;
      }

      .main-reviews__date {
        display: inline-block;
      }

      .main-reviews__rating {
        display: inline-block;
        font-size: 0;
        padding: 0 0 0 0.3rem;
      }

      .main-reviews__rating span {
        padding: 0;
        font-size: 20px;
        line-height: 1;
        color: lightgrey;

        &:hover {
          cursor: pointer;
        }
      }

      .main-reviews__rating > span:before {
        content: '★';
      }

      .main-reviews__rating > span.active {
        color: #FF352B;
      }
    }
  }

  .main-block__form{
    display: inline-block;
    max-width: 85rem;

    & h3{
      text-align: left;
      margin: 0.4rem 0 0 0;
    }
    & h5{
      text-align: left;
      padding: 0;
      margin: 0.8rem 0 5.5rem 1rem;
      color: $color_black;
    }
    .main-form__hide-tittle{
      display: none;
      font-size: 1.3rem;
      font-weight: 600;
      Line-height: 1.7rem;
    }
    .main_form{
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 85%;
      .main-form__row{
        display: flex;
        justify-content: space-between;
        & input, select{
          width: 45%;
          padding: 0 0 0.7rem 0;
          font-size: 1rem;
          font-weight: 500;
          border-top: none;
          border-left: none;
          border-right: none;
          background-color: #E5E5E5;
        }
        & select {
          width: 100%;
        }
        & .main-form__area, .main-form__city{
          width: 45%;
          margin: 1rem 0;

          & h4{
            margin: 1.5rem 0 2rem 0;
            text-align: left;
          }
          & input{
            margin: 1rem 0;
            width: 100%;
          }
        }

        .main-form__pay{
          display: inline-table;
          width: 100%;
          text-align: left;
          position: relative;

          & label{
            padding: 0 0 0 2.5rem;
          }
          & input{
            display: none;
          }
          .main-form__pay__text{
            padding: 0 1.3rem 0 0.5rem;
            vertical-align: sub;
            font-size: 1rem;
            font-weight: 400;
          }
          .main-form__pay__fake{
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0 0 -2.5rem;
            border-radius: 50%;
            border: 2px solid rgba(51, 51, 51, 0.4);
          }
          & input:checked + .main-form__pay__fake{
            border: 2px solid $color_yellow;
          }
          & input:checked + .main-form__pay__fake:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1rem;
            height: 1rem;
            background-color: $color_yellow;
            border-radius: 50%;
          }
        }

        .main-form__options {
          width: 70%;
          text-align: left;
          & h4 {
            width: 100%;
            position: relative;
          }
          & h4:after {
            content: '\2329';
            position: absolute;
            font-size: 1.9rem;
            margin: -0.4rem 0 0 1.5rem;
            transform: rotate(90deg);
          }
          & input{
            display: none;
          }
          & input:checked + label:before{
            content: '\2713';
            position: absolute;
            text-align: center;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.1rem;
            color: $color_yellow;
            border: 2px solid $color_yellow;
          }
          & label {
            display: inline-block;
            margin-left: 47px;
            margin-bottom: 34px;
            white-space: pre;
          }
          & label:before {
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0 0 -2.5rem;
            border: 2px solid rgba(51, 51, 51, 0.4);
          }
        }

        .main-form__submit{
          display: flex;
          justify-content: space-between;
          width: 90%;
          text-align: left;

          .main-form__date{
            font-weight: 400;
            font-size: 6rem;
          }
          .main-form__order{
            position: relative;
            & input{
              display: none;
            }
            & label{
              display: block;
              position: relative;
              margin: 1.5rem 0 0 3.5rem;
              padding: 0 0 0.8rem 0;
              font-size: 0.8rem;
              font-weight: 400;
            }
            & label:before{
              content: '';
              position: absolute;
              width: 1.5rem;
              height: 1.5rem;
              margin: -6px 0 0 -2.1rem;
              border: 2px solid $color_black;
            }
            .main-form__fake__btn, .main-form__btn{
              margin: 0.5rem 0 0 1.5rem;
            }
            .main-form__btn{
              background: #FF352B;
            }
            .main-form__fake__btn{
              position: absolute;
              margin: 1rem 0 0 -14.6rem;
              background: transparent;
              border: 2px solid $color_yellow;
              box-sizing: border-box;
              z-index: -1;
            }
          }
        }
      }
    }
  }

  .main_block__map-contact{
    display: block;
    position: absolute;
    margin: -30rem 0 0 5rem;
    width: 23rem;
    height: 20rem;
    text-align: left;
    background-color: #FFFFFF;

    .tagline{
      margin: 2.5rem 0 1.5rem 1rem;
    }

    & p,a{
      margin: 0 0 2rem 3.5rem;
      font-size: 1rem;
      font-weight: 400;
      color: $color_black;
    }

    & a{
      margin: 0 0 2rem 0;
    }

    & p:before{
      content: "\2713";
      margin: -0.3rem -1.4rem;
      position: absolute;
      font-weight: 700;
      color: $color_yellow;
    }

    .main-block__social{
      display: inline-block;
      float: right;

      & a{
        font-size: 1.3rem;
        padding: 1.4rem 0.7rem;
        text-decoration: none;
      }
      & a:last-child{
        padding: 1.4rem 2.4rem 1.4rem 0.7rem;
      }
    }
  }
}

@import 'media';